body{
    margin: 0;
    background-image:url(/images/nza_background.jpg); 
    object-fit: fill;
}

.container{
    background-color: white;
}

.btn{
    background-color: darkgray;
    border: none;
    margin-right: 20px;
}

.logo{
    padding: 40px;
    max-width: 100%;
    height: auto;
}

/* BEGIN NAV BAR STYLING */
nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav a{
    color:black;
}

nav a:hover{
    color:darkgray;
}

/* END NAV BAR STYLING */

/* BEGIN SIDEBAR STYLING */

.hero-image{
    object-fit: cover;
}

.sidebar{
    background-image:url(/images/nav_side_sub.jpg);
    color: white;
}

.sidebar hr{
    background-color: white;
}

.sidebar ol{
    list-style: none;
}

/* END SIDEBAR STYLING */

.content img{
    padding: 25px 0px;
}

.container-other-links{
    background-image: url(/images/other_links_background.jpg);
}

/* BEGIN FOOTER STYLING */  

ul{
    list-style: none;
    padding-left: 0px;
}

hr{
    height: 2px;
    background-color: black;
    border: none;
}

footer ul{
    font-size: small;
    padding-bottom: 20px;
}

/* END FOOTER STYLING */
